*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

header{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 15px;
}

header div{
    display: flex;
    gap: 50px;
    align-items: center;
}



button{
    padding: 4px 5px 4px 5px;
    border-radius: 5px;
    background-color: rgb(135, 134, 134);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.1);
    background-color: white;
    font-weight: 600;
}
