*{
  font-family: "Inter", sans-serif;
}
body {
  /*start here  */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
   
 .container {
  /*start here  */
  color: rgb(98, 18, 210);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 49px;
  padding: 55px;
  justify-content: center;
  text-align: center;
  max-height: 80vh;
 }
#addbtn{
  text-align: center;
  line-height: 50px;
  margin-top: 5px;
}
#addbtn button{
width: 100%;
border: none;
color: white;
border-radius: 10px;
padding: 11px;
font-size: 1rem;
font-weight: 590;
cursor: pointer;
background-color: rgb(98, 18, 210);

}

.input-container{
  margin: 5px;
}

#bookmark-url{
  width: 210px;
  border: 1px solid black;
  font-weight: 500;
  border-radius: 7px;
  padding: 10px;
  background-color: #ffffff63;
}

input::placeholder{
  color: #424242;
}


 h1 {
    /*start here  */
 }

 hr{
  width: 100%;
 }

 #bookmark-category{
  width: 100px;
  margin-left: 5px;
  border: 1px solid black;
  font-weight: 500;
  border-radius: 7px;
  padding: 10px;
  background-color: #ffffff63;
}
    
 button {
   /*start here  */
   padding: 5px;
   border: 1px solid #fff;
   border-radius: 5px;
   font-size: 0.9rem;
   
 }

 #bookmarks-list{
  display: flex;
  flex-grow: 8;
  gap: 0px;
  margin-top: 20px;
  flex-direction: column;
 }
   
 #bookmarks {
  /*start here  */
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  margin-top: 10px;
  flex-direction: column;
}
   
 #bookmark-list li {
  /*start here  */
 }
   
 button.favorite-btn {
  /*start here  */
 }
   
 button.delete-btn {
  /*start here  */
 }
   

 #bookmarks{
  border : 1px solid black;
  padding: 10px;
  border-radius: 10px;
 }